div.rubricContainer * {
	margin: 0px;
	padding: 0px;
}


div.rubricContainer .hidden {
	display: none;
}

div.rubricContainer {
	border: 1px dashed #800000;
	-moz-border-radius: 5px ;
	background-color: white;
}

div.rubricContainer table {
	border-top: 2px solid #800000;
	width: 100%;
	margin: 2px 5px 2px 5px;

}

div.rubricContainer table tr {
	padding: 2px;
	width: 15%;
}

div.rubricContainer td {
	font-family: Helvetica ; 
	font-size: 12pt;
	width: 100px;
	vertical-align: top;
}

div.rubricContainer .lineValContainer {

	border: 1px solid black;
	margin: 0px;
	cursor: pointer;
	min-width: 120px;
}


div.rubricContainer .recorded {
	background-color: #9CEB91;
}

div.rubricActions {
	padding: 0 5px 0 5px;
}

div.rubricContainer .action {
	font-size: 12pt;
	float:right;
	cursor: pointer;
	margin: 3px;
	padding: 2px;
}

div.rubricContainer div.info {

	height: 30px;
	width: 95%;
}


div.rubricContainer div.state {
	background-repeat: no-repeat;
	float:left;
	width: 25px;
	height: 25px;

}

div.rubricContainer .selected div.state {
	background-image: url('http://code.rubrick-jetpack.org/images/Rtick.png');
}

div.rubricContainer div.stats {
	float:right;	
	font-size: 12px;
	padding-right: 5px;
}

div.rubricContainer div.stats p {
	margin: 0px;
	padding: 0px;
}

div.rubricContainer div.graph {
	height: 15px;
	background-color: red;
	float:left;
}


